In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np

We will be exploring the data available from January untill the date of doing this project Apr 16th. And for that we will be scrapping only the first 22 pages of the website ordered by most recent.

In [2]:
df = pd.DataFrame({'price':[],'area':[],'location':[],'date':[]})
for i in range(1,23):
    url = (f"https://www.kijiji.it/case/affitto/milano-annunci-milano/appartamento/metri-quadri20:1/metri-quadri21:9/?p={i}&entryPoint=sb")
    page = requests.get(url)
    soup = BeautifulSoup(page.content, 'html.parser')
    results = soup.find(id ='search-result')
    elems = results.find_all(class_='item-content')
    for elem in elems:
        price_elem = elem.find('h4', class_='price')
        space_elem = elem.find('p', class_='attribute attr_h_m2')
        location_elem = elem.find('p', class_='locale')
        date_elem = elem.find('p', class_='timestamp')
        if None in (price_elem, space_elem,location_elem,date_elem):
            continue
        df = df.append({
                   'price': price_elem.text,
                   'area':space_elem.text,
                   'location': location_elem.text,
                   'date':date_elem.text
                   }, ignore_index=True)

In [4]:
#check the results
df.head()

,price,area,location,date
0,500 €,Superficie (mq): 123,Centro,"28 marzo, 03:23"
1,900 €,Superficie (mq): 50,Città Studi / Lambrate,"Oggi, 11:18"
2,635 €,Superficie (mq): 60,Lodi / Ripamonti / Mecenate,"Oggi, 09:16"
3,Contatta l'utente,Superficie (mq): 40,Bicocca / Greco / Viale Monza,"Oggi, 08:06"
4,1.150 €,Superficie (mq): 50,Porta Romana / Monte Nero,"Oggi, 05:05"

In [5]:
#export to csv
df.to_csv('Kijiji.csv')